h1{
	text-align: center;
}

li {
	width:200px;
	height:50px;
	background-color: blue;
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: auto 0;
	font-family: Arial;
	font-weight: bold;
	color: white;

};